
* {
  padding: 0;
  margin: 0;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

.container{
  max-width: 1140px;
}

.m-auto{
  margin: auto;
}


.d-flex {
  display: flex;
}

.text_centre {
  text-align: center;
}

.between {
  justify-content: space-between;
}

.aline_centre {
  align-items: center;
}


// animation for black link (button)
.effect{
  &:after {
    content: "\f0a4";
    color: #FFF;
    font-family: FontAwesome;
    position: relative;
    right: -55px;
    transition: all 0.2s ease;
    display: none;
    font-size: 15px;
  }

  &:hover:after {
    right: -55px;
    display: inline-block;
  }
}